.navigation {
  background-color: #00A3AD;
  padding: 12px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 142px;
  height: 23px;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  /* padding: 0.5rem 0; */
  letter-spacing: -0.1px;
  opacity: 1;
}

.nav-link:hover {
  color: #315a86;
}

.nav-icon {
  width: 34px;
  height: 34px;
  border-radius: 40px;
  cursor: pointer;
}