.plan-selection-section {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 22px;
    color: var(--secondary-color);
    margin-bottom: 20px;
  }
  
  .plan-cards-container {
    display: flex;
    gap: 20px; /* Space between cards */
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  }
  